<ion-view view-title="Offer a Ride">
  <ion-content>
      <form name="formTrajet" ng-submit="postTrajet(formTrajet.$valid)" novalidate>
          <br>
          <div class="marginLeftSearch">
            <i class="icon ion-ionic placeholder-icon departIcon"></i>

            <input ng-model="trajet.pointDepart" g-places-autocomplete  ng-required="true" type="search" class="inputSearch" value= "Cebu City, Cebu, Philippines" placeholder="Cebu City, Cebu, Philippines"><i style="margin-left:10px;font-size:20px" ng-click="geolocCity()" class="icon ion-android-locate placeholder-icon"></i><br><br>

          </div>
          <div class="marginLeftSearch">
            <i class="icon ion-ionic placeholder-icon arriveIcon"></i>
            <input ng-model="trajet.pointArrive" g-places-autocomplete ng-required="true" type="search" class="inputSearch" value= "Lapu-Lapu City, Cebu, Philippines" placeholder="Lapu-Lapu City, Cebu, Philippines">
          </div>
          <div class="bar bar-header bar-positive barreDateHeure">
            <h1 class="title">DETAILS</h1>
          </div>
          <div class="iconTrajet">
            <div class="iconLeftTrajet">
              <i  class="icon ion-arrow-swap placeholder-icon"></i>
              <p style="display:inline;">
                Round-Trip
              </p>
            </div>
            <label class="checkbox theCheckbox">
              <input ng-model="trajet.allerRetour" type="checkbox" style="display:inline;float:right">
            </label>
          </div>

        <div class="iconTrajet">
            <div class="iconLeftTrajet">
              <i  class="icon ion-flame placeholder-icon"></i>
              <p style="display:inline;">
                Smoking
              </p>
            </div>
            <label class="checkbox theCheckbox">
              <input ng-model="trajet.fumeur" type="checkbox" style="display:inline;float:right">
            </label>
          </div>
        <br>
          <hr>
          <div style="padding-left:15px">

            <i class="inlineD icon ion-calendar placeholder-icon"></i>
            <input ng-model="trajet.dateDepart" ng-required="true" class="inlineD allerret" type="text" ng-click="openDatePickerStart()" placeholder="Depart">
            <input  ng-model="trajet.timeDepart" class="inlineD allerret" ng-required="true" type="text" ng-click="openTimePickerStart()" placeholder="Time">
            <hr>
          </div>
          <hr>
        <div style="padding-left:15px">

          <i class="inlineD icon ion-calendar placeholder-icon"></i>
          <input ng-model="trajet.dateEnd" class="inlineD allerret" ng-required="true" type="text" ng-click="openDatePickerEnd()" placeholder="Arrival">
          <input ng-model="trajet.timeEnd" class="inlineD allerret" type="text" ng-required="true" ng-click="openTimePickerEnd()" placeholder="Time">
          <hr>
        </div>
 <label class="item item-input">
          <i class="icon ion-social-usd-outline placeholder-icon"></i><span style="margin-left:10px" class="input-label">Price</span>
          <input type="text" ng-model="trajet.prix" ng-required="true">
        </label>
          <div style="text-align: center">
              <input type="submit" class="button button-positive postTrajet" value="OFFER">
          </div>
      </form>
  </ion-content>
</ion-view>
